PORT=3000

# Cuenta Gmail desde la que se envían los correos
EMAIL_USER=tucorreo@gmail.com
EMAIL_PASS=xxxx_xxxx_xxxx_xxxx

# Correo que tendrá rol admin al registrarse
ADMIN_EMAIL=tucorreo@gmail.com

# Clave secreta para firmar JWT (pon cualquier cadena larga y aleatoria)
JWT_SECRET=cambia_esto_por_una_clave_secreta_larga
